.superior{
	height: 15px;
	background: #012a62;
	/*#d4ae6f*/

}
.inferior{
	height: 15px;
	background: #003b8b;
}
p{
	font-size: 10px;
}
header {
	/*width: 97%;
	border-radius: 13px;
	margin: 50px auto;
	padding:5px;*/
	box-shadow: #d4ae6f 0px 3px 0px;
	margin: 15px auto;

}
.areat {
	/*height: 350px;*/
	/*background: #E5E7E9;*/
	border-style: solid;
	margin: 10px;
}
table{
	font-size: 10px;
}
footer {
	/*width: 97%;*/
	/*background: #010F69;*/
	/*border-radius: 13px;*/
	/*margin: 10px auto;*/
	/*padding:5px;
	box-shadow: gray 0px 1px 0px;
	color: #F5F5F5;*/
	border-style: solid;
	margin: 15px auto;
	background: #012a62;
	font:normal 1em Verdana, Geneva, sans-serif;
	
}
.logo-seruaz{
	margin:auto;

}
.logo-unidad{
	margin: auto;
}

.logo{
	border-style: solid;

}
.logo-con{
	margin:auto;*/

}
.ulogo{
	margin: 7px auto;

}
.inf{
	/*border-style: solid;*/
	height: 50px;
	text-align: center;
	color: white;

	
}
.uaz{
	border-style: solid;
}

#barra-menu{
	border-style: solid;
}

