footer {
	max-height: auto;
	background: #012a62;
	margin-top: 20px;
	background-image: linear-gradient(#003072 ,#002558,#001b3f) ;
}

.ulogo{
	margin: 30px auto;
}

.inf{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: white;	
}
body{
	background: #F4F6F7;
}
label.error {
    color: #FF0000;
}

body{
	min-width:680px;
}