.superior{
	height: 15px;
	background: #012a62;
	/*#d4ae6f*/

}

.inferior{
	height: 15px;
	background: #003b8b;
}
p{
	font-size: 10px;
}
header {
	box-shadow: #d4ae6f 0px 3px 0px;/*linea*/
	margin: 15px auto;

}
.areat {
	max-height: auto;
	min-height: 616px;
	margin: 20px;
}
table{
	font-size: 13px;
	background: #F7F9F9;
}
thead{
	background: #003b8b;
	font-size: 15px;
	color: #FFFFFF;
}
.tabla{
	max-height: auto;
	min-height: 616px;
	margin: 20px;

}
p{
	font-size: 14px;
}

h4{
	  font-weight: bold;
}
h5{
	 font-weight: bold;	
}

.logo-seruaz{
	margin:auto;

}
.logo-unidad{
	margin: auto;
}

.logo-con{
	margin:auto;

}
.ulogo{
	margin: 30px auto;

}
.logo_der{ 
	height: 180px;
}
.inf{
	/*border-style: solid;*/
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: white;	
}

footer {
	
	max-height: auto;
	background: #012a62;
	
}

body { 
	min-height: 1000px;
	max-height: auto;
	padding-right: 0 !important;
	background-color:#F4F6F7;
	background-image: url("imagenes/uaz41.png");
	background-repeat: no-repeat;
	background-position: center 150px;
}





