<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method='POST' enctype='multipart/form-data'>
		{% csrf_token %}
		<table>
			{{ formulario.as_table }}
		</table>
		<button type="submit">Guardar</button>
	</form>
	<table>
		<thead>
			<tr>
				<td>Archivo<td>
			</tr>
		</thead>
		<tbody>
			{% for archivo in archivos %}
			<tr>
				<td><a href='/static/media/{{ archivo.documento.url }}' download>{{ archivo.documento.url }}</a></td>
			</tr>
			{% endfor %}
		</tbody>

</body>
</html>