<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Personas</title>
	<script src="{% static 'jquery-3.5.0.min.js' %}" type="text/javascript"></script> 
</head>
<body>
	Hola Como estas
	<table>
		<tr>
			<td>
				<label for="nombre_id">Nombre</label>
			</td>
			<td>
				<label for="apaterno_id">A Materno</label>
			</td>
			<td>
				<label for="amaterno_id">A Paterno</label>
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" id="nombre_id">
			</td>
			<td>
				<input type="text" id="apaterno_id">
			</td>
			<td>
				<input type="text" id="amaterno_id">
			</td>
		<tr>
		<tr>
			<td>
				
			</td>
			<td>
				
			</td>
			<td>
				<button onclick="limpiar()">limpiar</button>
				<button onclick="guardar()">Guardar</button>
				
			</td>
		</tr>
	</table>
	<button onclick="obtenerDatos()">Actualizar Tabla</button>
	<!--<button onclick="obtenerDatosPost()">Obtener Post</button>-->
	<div id="tabla_id"></div>
	<input style="visibility: hidden;" type="text" id="id_id" value="">
	<input style="visibility: hidden;" type="text" id="id_token" value="">
</body>
<script type="text/javascript">
	$( document ).ready(function() {
    	limpiar()
	});
	function limpiar(){
		$("#nombre_id").val('');
		$("#id_id").val('');
		$("#apaterno_id").val('');
		$("#amaterno_id").val('');
	}

	function guardar(){
		id = $("#id_id").val();
		var datos={};
		var url = "/crearpersona";
		if( id != ""){
			//edicion
			datos = {
				nombre:$("#nombre_id").val(),
				apaterno:$("#amaterno_id").val(),
				amaterno:$("#apaterno_id").val(),
				id:$("#id_id").val()
			};
		}else{
			//creacion
			datos = {
				nombre:$("#nombre_id").val(),
				apaterno:$("#amaterno_id").val(),
				amaterno:$("#apaterno_id").val()
			};
		}
		$.ajax(
		{
	        url : "/crearpersona",
	        type : "GET",
	        data : datos,
	        success : function(data) {
				actualizarTabla(data);
	        },
	        error : function(xhr,errmsg,err) {
	            console.log(xhr.status + ": " + xhr.responseText);
	            console.log(errmsg)
				console.log(err)
	        }
	    });
	    limpiar();
	}
	function obtenerDatos(){
		$.ajax(
		{
	        url : "/obtenerpersonas",
	        type : "GET",
	        data : {
			},
	        success : function(data) {
				actualizarTabla(data);
	        },
	        error : function(xhr,errmsg,err) {
	            console.log(xhr.status + ": " + xhr.responseText);
	            console.log(errmsg)
				console.log(err)
	        }
	    });
	}
	function obtenerdatospost(parametro){
		$.ajax(
		{
	        url : "/obtenerpersonaspost",
	        type : "GET",
	        data : {
	        	id: parametro
			},
	        success : function(data) {
				// actualizarTabla(data);
				$("#nombre_id").val(data[0]['nombre']);
				$("#id_id").val(data[0]['id']);
				$("#apaterno_id").val(data[0]['apaterno']);
				$("#amaterno_id").val(data[0]['amaterno']);
	        },
	        error : function(xhr,errmsg,err) {
	            console.log(xhr.status + ": " + xhr.responseText);
	            console.log(errmsg)
				console.log(err)
	        }
	    });
	}
	function actualizarTabla(data) {
		if(data[0]  !=  undefined){
			var texto = "<table><thead>"+
					"<th>Nombre</th>"+
					"<th>Apaterno</th>"+
					"<th>Amaterno</th>"+
	                "<th>Opciones</th>"	+
	                "</thead><tbody>";
			
			for (i = 0; i < data.length ; i++) {
				texto = texto +
					"<tr id='info_administracion_"+ data[i]['id'] +"'>" +
						"<td>" + data[i]['nombre'] + "</td>"+
						"<td>" + data[i]['apaterno'] + "</td>"+
						"<td>" + data[i]['amaterno'] + "</td>"+
						"<td>" +
							//"<button value='"+data[i]['id']+"'> Borrar </button>"+
							"<button value='"+data[i]['id']+"' onclick='obtenerdatospost("+data[i]['id']+")'>"+
							 "Editar"+
							"</button>"+
						"</td>" +
					"</tr>";
			}
			texto = texto + "</tbody></table>"
			
			$("#tabla_id").children().remove();
			$("#tabla_id").append(texto);
		}
	}
</script>
</html>