<div class="row">
  <div class="col-md-12">
    <div class="content-box-large">
      <div class="panel-heading">
          <h3 style="text-align: center">Completa el formulario</h3>
      </div>
      <div class="panel-body">
        <form class="form-inline" role="form">
          <fieldset>
            <div class="form-group col-sm-3">
              <label  for="exampleInputNombre2">Nombre</label>
              <input type="email" class="form-control" id="exampleInputNombre2" placeholder="Nombre">
            </div>
            <div class="form-group  col-sm-3">
              <label for="exampleInputDepartamento2">Departamento</label>
              <input type="password" class="form-control" id="exampleInputDepartamento2" placeholder="Departamento">
            </div>
            <div class="form-group  col-sm-3">
              <label for="exampleInputArea2">Area</label>
              <br>
              <input type="password" class="form-control" id="exampleInputArea2" placeholder="Area">
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">
              Guardar
            </button>
          </fieldset>
          
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="content-box-large">
      <div class="panel-heading">
          <h3 style="text-align: center">Completa el formulario</h3>
      </div>
      <div class="panel-body">
        <form class="form-inline" role="form">
          <fieldset>
            <div class="form-group col-sm-3">
              <label  for="id_nombre">Nombre</label>
              <input type="email" class="form-control" id="id_nombre" placeholder="Nombre">
            </div>
            <div class="form-group  col-sm-3">
              <label for="id_apaterno">Apeido Paterno</label>
              <input type="password" class="form-control" id="id_apaterno" placeholder="ApeidoPaterno">
            </div>
            <div class="form-group  col-sm-3">
              <label for="id_amaterno">Apeido Materno</label>
              <input type="password" class="form-control" id="id_amaterno" placeholder="ApeidoMaterno">
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">
              Guardar
            </button>
            <button class="btn btn-danger "> Limpiar</button>

          </fieldset>
          
        </form>
        <br/>
        <br/>

        <button class="btn btn-danger " onclick="obtenerTodos()"> Cargar </button>
        <table id="tabla-personas" class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apeido Paterno</th>
              <th>Apeido Materno</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<input id="id_elemento" style="visibility: hidden;">
