<div class="row">
    <div class="col-md-12">
        <div class="content-box-large">
            <div class="panel-heading">
                <h3 style="text-align: center">Completa el formulario</h3>
            </div>
            <div class="panel-body">
                <form id="form1">
                    <fieldset>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" placeholder="Text field" name="nombre" type="text">
                        </div>
                        <div class="form-group">
                            <label>Activo</label>
                            <input class="form-control" placeholder="Password" name="activo" type="text">
                        </div>
                        
                    </fieldset>
                    <button type="submit" class="btn btn-primary" style="width:150px;"><span class="glyphicon glyphicon-send"></span> Enviar</button> 
                </form>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function () {

$.validator.addMethod('texto',function(value,element){
    return this.optional(element) || /^([a-zA-Z0-9áÁéÉíÍóÓúÚñÑüÜ\-,.;%\s])*$/.test(value);
  });

$('#form1').validate({
    rules: {
        nombre: { required: true, texto:true},
        activo:{required: true},
           
    },
    messages: {
        nombre: {
            required: "Completa el campo por favor",
            texto:"No se aceptan caracteres especiales verificalo por favor",
        },
        activo:{
          required: "Completa el campo por favor",
        }
        
    },
    submitHandler: function () {
       
        
  $.ajax({
    type: "GET",
    contentType: 'application/json;',
    dataType: "json",
    url: "localhost:8000/api/estudiantes",
    //data:{
      //  nombre:$("#nombre").val(),
        //activo:"true",

    //},
    success: function (res) {
        alert(res);
      

    },
    error: function (res) {
      alert('Petición no procesada: ocurrio algun problema intentalo nuevamente'+res);
    }
  }).fail( function( jqXHR, textStatus, errorThrown ) {
    if (jqXHR.status === 0) {

alert('Not connect: Verify Network.');

} else if (jqXHR.status == 404) {

alert('Requested page not found [404]');

} else if (jqXHR.status == 500) {

alert('Internal Server Error [500].');

} else if (textStatus === 'parsererror') {

alert('Requested JSON parse failed.');

} else if (textStatus === 'timeout') {

alert('Time out error.');

} else if (textStatus === 'abort') {

alert('Ajax request aborted.');

} else {

alert('Uncaught Error: ' + jqXHR.responseText);

}
});;

    }
    });
});

</script>