<div class="row">
<div class="col-md-12">
    <div class="content-box-large">
        <div class="panel-heading">
            <h3 style="text-align: center">Completa el formulario</h3>
        </div>
        <div class="panel-body">
            <form action="">
  <fieldset>
    <div class="form-group">
      <label>Text field</label>
      <input class="form-control" placeholder="Text field" type="text">
    </div>
    <div class="form-group">
      <label>Password field</label>
      <input class="form-control" placeholder="Password" type="password" value="mypassword">
    </div>
    <div class="form-group">
      <label>Textarea</label>
      <textarea class="form-control" placeholder="Textarea" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label>Readonly</label>
      <span class="form-control">Read only text</span>
    </div>
  </fieldset>
  <div>
    <div class="btn btn-primary">
      <i class="fa fa-save"></i>
      Submit
    </div>
  </div>
</form>
        </div>
    </div>
</div>
</div>